		body,
		html {
			padding: 0;
			margin: 0;
		}

		.demo {
			display: flex;
			min-height: 100vh;
			flex-direction: column;
			justify-content: center;
			text-align: center;

		}

		.controls {
			display: inline-block;
			padding: .67em 0;
		}

		.controls label {
			font-family: sans-serif;
			font-size: 80%;
		}

		.space label+label {
			padding-left: 1em;
		}

		.row {
			padding-bottom: .325em
		}

		input[name="height"],
		input[name="width"] {
			width: 4em;
			margin-left: .25em
		}


		.table-border {
			border: 2vw solid;
			display: inline-block;
		}

		#maze {
			border-collapse: collapse;
			margin: 0 auto;
		}

		#maze td {
			height: 2vw;
			width: 1.8vw;
			line-height: 0;
			font-size: 1px;
			border: 1px #aaa solid;
		}

		.wall {
			background: #000000;
		}

      .path{
		background: pink;

	}


		.start {
			background: red;
		}

		.end {
			background: green;
		}
